.item {
  margin: 5px;
  background-color: lightgray;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resizable {
  position: relative;
  resize: both;
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
}

/* A workaround to a chrome bug :] */
/* Resize handle gets invisible for elements with will-change:transform children */
.resizable::after {
  content: ' ';
  position: absolute;
}
